*.elc
*.signed
*~
.last-package-update-day
.lsp-session-v1
.org-id*
abbrev_defs
custom-vars.el
elisp-autofmt-cache/
eln-cache/
eln-cache/28.1-b1f2d84a/
eshell/alias
eshell/history
eshell/lastdir
ido.last
image-dired/
network-security.data
org-caldav-*
org-persist/
places
projectile-bookmarks.eld
projects
recentf
request/curl-cookie-jar
rust-analyzer
server/server
srecode-map.el
tramp
transient
tree-sitter/
url/cache/
url/cookies
zsh/.config/zsh/
